<form class="{{cssClass}}" autocomplete="off">
  <h1 style="color:red;">BECMI CREATURE SHEET LOADED</h1>

  <div>
    <label>Name</label>
    <input type="text" name="name" value="{{actor.name}}"/>
  </div>

  <div>
    <label>HD</label>
    <input type="text" name="system.hd" value="{{system.hd}}"/>
  </div>

  <div>
    <label>THAC0</label>
    <input type="number" name="system.thac0" value="{{system.thac0}}"/>
  </div>
</form>
