<div class="becmi-chat-card becmi-initiative-card becmi-initiative-individual-card">
  <h3>BECMI Individual Initiative</h3>
  <ul>
    {{#each results}}
      <li><strong>{{name}}:</strong> {{roll}} ({{modifierLabel}}) = <strong>{{total}}</strong></li>
    {{/each}}
  </ul>
</div>
